main {
	background-color:#282626;
	margin-left:50px;
	border:9px solid #F72E40;
	padding: 25px;
	margin-top:70px;
	margin-right:50px;
	border-style:ridge;
	
}
name,bran,col{
	color:#05D8D8;
	display: block;
}
email{
	color:#05D895;
	display: block;
}
students{
	padding:70px;
	
}
usn{
	color:#FFC300;
	display: block;
}
