main {
	background-color:#282626;
	margin-left:50px;
	border:2px solid yellow;
	padding: 10px;
	margin-top:70px;
	
}
name,bra,col{
	color:#05D8D8;
	display: block;
}
email{
	color:#05D895;
	display: block;
}
students{
	padding:15px;
	
}
usn{
	color:#FF5733;
	display: block;
}
